{ %extends 'all-sites/base.html' %} {% block content %}
<div class="container">

    <div class="row">
        {% if websites%}
        <h2>Found {{ websites|length }} of searched term {{message}}</h2>
        {% else %}
        <h3> Found nothing for the search term {{message}}</h3>
        {% endif %}

    </div>

    <div class="row">

        {% if websites %} {% for site in websites %}
        <div class="column" style="width: 37.2rem;">

            <img class="card-img-top" style="width: 355px; height: 400px;" src="{{site.image.url}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{site.title}}</h5>
                <p class="card-text">Owner: {{site.developer}}</p>
                <p class="card-text">Published on: {{site.pub_date}}</p>
                <p class="card-text">Tag: {{site.tag}}</p>

                <a href="{{site.url}}" class="btn btn-primary">Visit {{site.developer}}'s project</a>
            </div>
        </div>
        {% endfor %} {% endif %}
    </div>
</div>
{% endblock %}