{% extends 'all-sites/base.html' %} {% block content %}

<div class="container">

    <div class="row">
        {% if websites%}
        <h2>Found {{ websites|length }} of searched term {{message}}</h2>
        {% else %}
        <h2> Found nothing of the search term :( {{message}}</h2>
        {% endif %}

    </div>

    <div class="row">
        {% if awards %} {% for site in awards %}
        <div class="col-sm-6 col-md-3">
            <h1>{{site.title}}</h1>
            <h3>{{site.url}}</h3>
            <p>Posted {{site.pub_date|timesince}} by {{site.developer.first_name}}</p>

        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img src="{{site.image.url}}" class="img-responsive" alt="Image">
        </div>
        {% endfor %} {% endif %}
    </div>

</div>

{% endblock %} 