{% extends 'all-sites/base.html' %}  {% block content %} {{block.super}}

<div class="container">

   <div class="row">

    {% for site_item in site %}

    <div class="col-md-3" >
     
        <img class="card-img-top" src="{{site_item.image.url}}" alt="Card image cap">
        <div class="card-body" >
            <h5 class="card-title">{{site_item.title}}</h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <p class="card-text">Owner: {{site_item.developer}}</p>

            <p class="card-text">Published on: {{site_item.pub_date}}</p>
            <a href="{{site_item.url}}" class="btn btn-info" target="_blank">Visit {{site_item.developer}}'s Project</a>
            <a href="{% url 'site_rate' %} " class="btn btn-secondary" target="_blank">Vote</a>
            <!-- <a href="{% url 'site_rate' site_item.id %} " class="btn btn-secondary" target="_blank">Vote</a> -->

        </div>
        
    </div>

    {% empty %}

    <div class="row">
        <h2 class="text-center">Nothing to show today</h2>
    </div>
    
    {% endfor %}
    
  </div>
</div>
{% endblock %}
