/* NAVBAR STYLING*/

#insta {
    font-family: 'Cookie', cursive;
    font-size: 28px;
    padding-bottom: 10px;
}

body {
    font-family: 'Lato', sans-serif;
}

nav a {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    margin: 4px;
}

nav a:hover,
navbar a:active,
navbar a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

nav a:hover {
    background: rgba(0, 0, 0, 0.06);
}

nav a:active {
    color: rgba(0, 0, 0, 0.9);
    background: rgba(0, 0, 0, 0.1);
}

nav a {
    color: #5bc0de;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    float: right;
}


/*Setting Up Navbar Layouts*/

nav .navbar-inverse {
    color: #000;
    background: #fff;
    border: none;
    min-height: 50px;
    max-height: 50px;
    height: 50px;
}

nav .container-fluid {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

nav .navbar-body {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    height: 100%;
    position: relative;
}

nav div.navbar-end {
    align-items: flex-start;
    -webkit-align-items: flex-start;
}

nav div.navbar-start,
nav div.navbar-end {
    flex: 1;
    -webkit-flex: 1;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-around;
}

nav div.navbar-start .logo {
    opacity: 0.6;
    width: 30px;
}


/*Styling Search Textbox*/

nav form.search {
    background: rgba(0, 0, 0, 0.12);
    flex: 3;
    -webkit-flex: 3;
    margin: 6px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
    position: relative;
    -webkit-transition: all 0.3s cubic-bezier(0.21, 0.61, 0.36, 1);
    -moz-transition: all 0.3s cubic-bezier(0.21, 0.61, 0.36, 1);
    -ms-transition: all 0.3s cubic-bezier(0.21, 0.61, 0.36, 1);
    -o-transition: all 0.3s cubic-bezier(0.21, 0.61, 0.36, 1);
    transition: all 0.3s cubic-bezier(0.21, 0.61, 0.36, 1);
}

nav form.search {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    height: 42px;
    width: 30px!important;
    padding: 0 9px;
    overflow-x: hidden;
}

nav form.search.focused {
    background: rgba(0, 0, 0, 0.05);
}

nav form.search .search-textbox {
    position: relative;
    width: 60px;
    height: 100%;
    background: transparent;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    text-align: start;
    color: rgba(0, 0, 0, 1);
    outline: none;
    -webkit-transition: all 0.5s cubic-bezier(0.21, 0.61, 0.36, 1);
    -moz-transition: all 0.5s cubic-bezier(0.21, 0.61, 0.36, 1);
    -ms-transition: all 0.5s cubic-bezier(0.21, 0.61, 0.36, 1);
    -o-transition: all 0.5s cubic-bezier(0.21, 0.61, 0.36, 1);
    transition: all 0.5s cubic-bezier(0.21, 0.61, 0.36, 1);
    cursor: pointer;
}

nav form.search.focused .search-textbox {
    width: 100%;
    cursor: text;
}

nav form.search:hover span {
    -webkit-transform: translateX(40%);
    -moz-transform: translateX(40%);
    -ms-transform: translateX(40%);
    -o-transform: translateX(40%);
    transform: translateX(40%);
}

nav .ico-btn {
    position: relative;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    padding: 5px;
}

nav .ico-btn.search-btn,
.ico-btn.clear-btn {
    padding: 3px;
    margin: 3px;
    color: #333
}

nav .ico-btn.clear-btn {
    margin-right: -30px;
    -webkit-animation: 0.3s SwiftSlideToRight cubic-bezier(0.21, 0.61, 0.36, 1) 0.2s;
    -o-animation: 0.3s SwiftSlideToRight cubic-bezier(0.21, 0.61, 0.36, 1) 0.2s;
    animation: 0.3s SwiftSlideToRight cubic-bezier(0.21, 0.61, 0.36, 1) 0.2s;
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

nav form.search.focused.not-null.multi-char .ico-btn.clear-btn {
    margin-right: 0;
    opacity: 1;
    visibility: visible;
    -webkit-animation: 0.3s SwiftSlide cubic-bezier(0.21, 0.61, 0.36, 1);
    -o-animation: 0.3s SwiftSlide cubic-bezier(0.21, 0.61, 0.36, 1);
    animation: 0.3s SwiftSlide cubic-bezier(0.21, 0.61, 0.36, 1);
    -webkit-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

nav .ico-btn {
    -webkit-transition: all 0.2s cubic-bezier(0.21, 0.61, 0.36, 1);
    -moz-transition: all 0.2s cubic-bezier(0.21, 0.61, 0.36, 1);
    -ms-transition: all 0.2s cubic-bezier(0.21, 0.61, 0.36, 1);
    -o-transition: all 0.2s cubic-bezier(0.21, 0.61, 0.36, 1);
    transition: all 0.2s cubic-bezier(0.21, 0.61, 0.36, 1);
}

nav form.search.focused.not-null .ico-btn.search-btn {
    visibility: visible;
    opacity: 1;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -ms-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
}


/*Styling Tabs*/

nav .tabs .navbar-body li.active a {
    color: #333;
}

nav .tabs .navbar-body li {
    -webkit-transition: all 0.2s cubic-bezier(0.21, 0.61, 0.36, 1);
    -moz-transition: all 0.2s cubic-bezier(0.21, 0.61, 0.36, 1);
    -ms-transition: all 0.2s cubic-bezier(0.21, 0.61, 0.36, 1);
    -o-transition: all 0.2s cubic-bezier(0.21, 0.61, 0.36, 1);
    transition: all 0.2s cubic-bezier(0.21, 0.61, 0.36, 1);
}

nav .tabs .navbar-body li:hover {
    background: rgba(0, 0, 0, 0.02);
}

nav .tabs .navbar-body li:active {
    background: rgba(0, 0, 0, 0.05);
}

nav .tabs .navbar-body li a:hover,
.tabs .navbar-body li a:active {
    background: rgba(0, 0, 0, 0);
    color: #5bc0de;
}


/*Styling Tab Highlighter*/

nav .tab-highlighter {
    height: 2px;
    width: 50px;
    margin-top: -2px;
    background: #000;
    position: absolute;
    -webkit-transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
    -moz-transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
    -ms-transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
    -o-transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
    transition: all 0.6s cubic-bezier(0.21, 0.61, 0.36, 1);
}


/*Keyframes*/

@keyframes SwiftSlide {
    100% {
        margin-right: 0;
        opacity: 1;
    }
}

@keyframes SwiftSlideToRight {
    100% {
        opacity: 0;
        margin-right: -30px;
    }
}


/* Base Styles */

:root {
    font-size: 11px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}

.container {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.btn:focus {
    outline: 0.5rem auto #4d90fe;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}


/* Profile Section */

.profile {
    padding: 5rem 0;
}

.profile::after {
    content: "";
    display: block;
    clear: both;
}

.profile-image {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.profile-image img {
    border-radius: 50%;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
    float: left;
    width: calc(66.666% - 2rem);
}

.profile-user-settings {
    margin-top: 1.1rem;
}

.profile-user-name {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
}

.profile-edit-btn {
    font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
}

.profile-settings-btn {
    font-size: 2rem;
    margin-left: 1rem;
}

.profile-stats {
    margin-top: 2.3rem;
}

.profile-stats li {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}

.profile-stats li:last-of-type {
    margin-right: 0;
}

.profile-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
    font-weight: 600;
}


/* Gallery Section */

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
}

.gallery-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
    display: none;
}

.gallery-item-info li {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
}

.gallery-item-likes {
    margin-right: 2.2rem;
}

.gallery-item-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
    transform: rotateY(180deg);
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*

The following code will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling. 

*/

@supports (display: grid) {
    .profile {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 3rem;
        align-items: center;
    }
    .profile-image {
        grid-row: 1 / -1;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-gap: 2rem;
    }
    .profile-image,
    .profile-user-settings,
    .profile-stats,
    .profile-bio,
    .gallery-item,
    .gallery {
        width: auto;
        margin: 0;
    }
    @media (max-width: 40rem) {
        .profile {
            grid-template-columns: auto 1fr;
            grid-row-gap: 1.5rem;
        }
        .profile-image {
            grid-row: 1 / 2;
        }
        .profile-user-settings {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 1rem;
        }
        .profile-edit-btn,
        .profile-stats,
        .profile-bio {
            grid-column: 1 / -1;
        }
        .profile-user-settings,
        .profile-edit-btn,
        .profile-settings-btn,
        .profile-bio,
        .profile-stats {
            margin: 0;
        }
    }
}

.card {
    margin-bottom: 20px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: 0;
    box-shadow: 0;
}

*:focus {
    outline: 0;
    box-shadow: 0;
}

.comment.btn:focus {
    outline-color: #fff;
    outline: none;
}

.comment {
    border: 0 none transparent;
    height: 50px;
}