{%extends 'all-sites/base.html'%} {% load bootstrap4 %} {% load static %} {% block content %} {{block.super}}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="row text-center">
                
                <h2> Create Your Profile </h2>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form action="{%url 'create-profile'%}" method="post" enctype="multipart/form-data">
                {%csrf_token%} {% bootstrap_form form%}
                <input type="submit" class="btn btn-primary" value="Post">
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}