{%extends 'all-sites/base.html'%} {% load bootstrap4 %} {% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="row text-center">
                
                <h2> Upload a Project </h2>
            </div>
        </div>
    </div>
</div>

    <form action="{% url 'new-site' %}" method="post" enctype="multipart/form-data">
        {%csrf_token%} 
        {{ form }}
        <button type="submit" class="btn btn-success btn-lg" > POST </button>
    </form>
    
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %} {% endblock %}


{% endblock  %}